<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load the dataset that will used thru the capstone project.
*   Explore the dataset.
*   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [2]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [3]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [4]:
# your code goes here
data = pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [9]:
# your code goes here

# Select first 5 columns
N = 5
first_5_column = data.iloc[: , :N]
# Select first 5 rows
first__5_row_column = first_5_column.head()
first__5_row_column

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro..."
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [11]:
# your code goes here
# Number of rows
len(data)

11552

Print the number of columns in the dataset.

In [12]:
# your code goes here
# Number of columns
len(data.columns)

85

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [14]:
# your code goes here
data_type = (data.dtypes)
data_type.to_frame()

                   0
Respondent     int64
MainBranch    object
Hobbyist      object
OpenSourcer   object
OpenSource    object
...              ...
Sexuality     object
Ethnicity     object
Dependents    object
SurveyLength  object
SurveyEase    object

[85 rows x 1 columns]

Print the mean age of the survey participants.

In [25]:
# your code goes here
data['Age'].mean()

30.77239449133718

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [22]:
# your code goes here
data['Country'].unique()

array(['United States', 'New Zealand', 'United Kingdom', 'Australia',
       'Brazil', 'Lithuania', 'Israel', 'South Africa', 'Czech Republic',
       'Spain', 'Germany', 'Serbia', 'India', 'Sweden', 'China', 'France',
       'Netherlands', 'Philippines', 'Ireland', 'Pakistan', 'Austria',
       'Canada', 'Croatia', 'Italy', 'Russian Federation', 'Argentina',
       'Romania', 'Iran', 'Hungary', 'Latvia', 'Hong Kong (S.A.R.)',
       'United Arab Emirates', 'Poland', 'Portugal', 'Bulgaria',
       'Nicaragua', 'Denmark', 'Japan', 'Guatemala', 'Bangladesh',
       'Ukraine', 'Mexico', 'Egypt', 'Switzerland', 'Mauritius',
       'South Korea', 'Slovenia', 'Estonia', 'Norway', 'Singapore',
       'Republic of Moldova', 'Belgium', 'Nigeria', 'Turkey', 'Thailand',
       'Mongolia', 'Chile', 'Malaysia', 'Georgia', 'Luxembourg',
       'Dominican Republic', 'Cape Verde', 'Burundi', 'Finland', 'Greece',
       'Colombia', 'Taiwan', 'Yemen', 'Indonesia', 'Belarus', 'Slovakia',
       'Nepal', 'Kenya', 'Venezuela, Bolivarian Republic of...',
       'Armenia', 'Panama', 'Lebanon', 'Kuwait', 'Algeria',
       "Côte d'Ivoire", 'Bosnia and Herzegovina', 'Brunei Darussalam',
       'Costa Rica', 'Jordan', 'Zimbabwe', 'Ecuador', 'Albania',
       'Azerbaijan', 'Other Country (Not Listed Above)', 'Uzbekistan',
       'The former Yugoslav Republic of Macedonia', 'Sri Lanka', 'Ghana',
       'Paraguay', 'Peru', 'Viet Nam', 'Malta', 'Rwanda', 'El Salvador',
       'Uruguay', 'Tunisia', 'Bolivia', 'Honduras', 'Liechtenstein',
       'Qatar', 'Cameroon', 'Turkmenistan', 'Kyrgyzstan', 'Somalia',
       'Republic of Korea', 'Cuba', 'Montenegro', 'Monaco', 'Cyprus',
       'Uganda', 'Senegal', 'Syrian Arab Republic', 'Morocco', 'Ethiopia',
       'United Republic of Tanzania', 'Iceland', 'Swaziland',
       'Congo, Republic of the...', 'Saudi Arabia', 'Afghanistan',
       'Bahrain', 'Timor-Leste', 'Jamaica', 'Myanmar', 'Sudan',
       'Libyan Arab Jamahiriya', 'Togo', 'Cambodia', 'Mozambique', 'Iraq'],
      dtype=object)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).